.component {
  position: relative;
}

.numberContainer {
  position: absolute;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.number {
  font-size: 200px;
  color: white;
}

.image {
  display: block;
  width: 1080px;
  height: auto;
}
